In [58]:
#importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split  
from sklearn.preprocessing import StandardScaler

In [59]:
#loading the dataset
d=pd.read_csv('Advertising.csv')

In [60]:
#printing the first few rows of the dataset
d.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [61]:
#printing the last few rows of the dataset
d.tail()

     Unnamed: 0     TV  Radio  Newspaper  Sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [62]:
#info
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [63]:
#describe
d.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [64]:
#scaling the features
scaler = StandardScaler()
d[['TV','Radio','Newspaper']] = scaler.fit_transform(d[['TV','Radio','Newspaper']])

In [65]:
X = d.drop(['Sales'], axis=1)
y = d['Sales']

x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=100)

In [66]:
from sklearn.linear_model import LinearRegression

In [67]:
#LINEAR REGRESSION ALGORITHM
lr = LinearRegression()
#fitting the model
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)

In [68]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [69]:
print(mean_absolute_error(y_true=y_test, y_pred=y_pred))
print(mean_squared_error(y_true=y_test, y_pred=y_pred))

1.0291249305169359
1.7337879884399645

In [70]:
from sklearn.metrics import r2_score

In [71]:
#printing the accuracy of the model
d=r2_score(y_true=y_test, y_pred=y_pred)*100
print(f'THE ACCURACY SCORE IS : {d} %')

THE ACCURACY SCORE IS : 91.84136004105716 %